@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap'); 
/*font-family: 'Hind', sans-serif;*/

:root {
    --dark-grey: #222831;
    --light-grey: #393E46;
    --white: #EEEEEE;
    --blue: #0092CA;
}

body {
    margin: 0;
    background-color: #393E46;
    color: #EEEEEE;
}

h1 {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin: auto;
    margin-top: 0;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 20px;
    font-family: 'Hind', sans-serif;
}

footer p {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

/*header and nav*/

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 500px;
    margin-bottom: 5px;
}

.logo {
    height: 100px;
    margin-left: 50px;
    align-self: flex-start;
}

.navbar {
    margin-right: 50px;
    align-self: flex-start;
}

.navbar li {
    display: inline-block;
    padding: 0 40px;
    position: relative;
}

.navbar a {
    color: #EEEEEE;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

/*hover effects*/
.navbar a::after {
content: '';
position: absolute;
width: 100%;
height: 2px;
background: #EEEEEE;
left: 0;
bottom: -5px;
cursor: pointer;
}

a::after {
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scale(1.1, 1);
}

/*Story section*/
.darkgrey {
    background-color: var(--dark-grey);
}

.storysec {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.storysec img {
    margin: 50px 0 50px 0;
    width: 650px;
    height: auto;
}

/*text sec*/

.text h2 {
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
    width: 450px;
}

span {
    color: var(--blue);
    padding-left: 190px;
}

.text p {
    width: 650px;
    text-align: left;
    margin-top: 30px;
}

/*sec3 see art*/
.darkgrey2 {
    background-color: var(--dark-grey);
    text-align: center;
    padding-top: 50px;
}

.darkgrey2 h2 {
    margin-top: 0;
}

.collage {
    height: 500px;
}

.btn2container {
    text-align: center;
}

.btn2 {
    border: 3px solid;
    background: none;
    border-color: #0092CA;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 50px;
}

.btn2 a {
    color: #EEEEEE;
    text-decoration: none;
    font-weight: bold;
}

.btn2:hover {
    background-color: #0092CA;
    padding: 6px 10px;
    transition: 0.3s;
}

/*section 2 Studio*/

.blue {
    padding-left: 130px;
}

/*text animations*/
@keyframes textanm1 {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0);
    }
}

.anm1 {
    animation: textanm1 5s;
}

@keyframes textanm2 {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0);
    }
}

.anm2 {
    animation: textanm2 5s;
}

/*footor*/
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0092CA;
    padding-top: 16px;
    font-weight: 500;
}

.geninfo {
    text-align: center;
}

.workhours {
    display: flex;
    gap: 30px;
}

.mediainfo {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    font-family: 'Hind', sans-serif;
}

.mediainfo a {
    text-decoration: none;
    color: #EEEEEE;
}

.mediaicon {
    width: 16px;
    padding-right: 10px;
}