@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap'); /*font-family: 'Hind', sans-serif;*/

:root {
    --dark-grey: #222831;
    --light-grey: #393E46;
    --white: #EEEEEE;
    --blue: #0092CA;
}

body {
    margin: 0;
    background-color: #393E46;
    color: #EEEEEE;
}

h1 {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin: auto;
    margin-top: 0;
}

h2 {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

h5 {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 20px;
    font-family: 'Hind', sans-serif;
}

footer p {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}
/*video background*/
.video {
    position: fixed;
    z-index: -1;
    filter: opacity(35%);
}

@media (min-aspect-ratio: 16/9){
    .video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .video {
        width: 100%;
        height: auto;
    }
}
/*navigation*/
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 500px;
}

.logo {
    height: 100px;
    margin-left: 50px;
    align-self: flex-start;
}

.navbar {
    margin-right: 50px;
    align-self: flex-start;
}

.navbar li {
    display: inline-block;
    padding: 0 40px;
}

.navbar .onview {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    width: 100%;
}

.navbar a {
    color: #EEEEEE;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.burger {
    display: none;
    margin: 30px 50px;
}

.line {
    display: block;
    margin: 5px auto;
    border-radius: 5px;
    background-color: #EEEEEE;
}

/*hover effects*/
.navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #EEEEEE;
    left: 0;
    bottom: -5px;
    cursor: pointer;
    }
    
    a::after {
        transform: scale(0, 1);
        transition: transform 0.3s ease;
    }
    
    a:hover::after {
        transform: scale(1.1, 1);
    }

/*main 1st section*/
.h2, .h3 {
    text-align: center;
    margin-top: 0;
}

.h3 {
    margin-top: 5px;
    margin-bottom: 30px;
}

.h3-light {
    font-weight: 200;
}

.h3-blue {
    color: #0092CA;
    font-weight: 200;
}

.icon {
    width: 20px;
    padding-right: 10px;
}

.benefits {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.text, .h4 {
    margin: 0;
}

.darkgrey {
    background-color: #222831;
    padding: 50px 0;
}

/*main 2nd section*/
.lightgrey {
    padding: 50px 0;
    background-color: var(--light-grey);
}

.contact {
    display: flex;
    justify-content: space-evenly;
    margin-left: 40px;
}

.h4 {
    text-align: center;
    padding-bottom: 5px;
}

.h4-underline {
    border-bottom: 5px solid #0092CA;
    border-radius: 3px;
}

.contact p {
    color: #EEEEEE;
    font-size: 16px;
}

.btn {
    border: 3px solid;
    background: none;
    border-color: #0092CA;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.btn a {
    color: #EEEEEE;
    text-decoration: none;
    font-weight: bold;
}
/*btn hover*/
.btn:hover {
    background-color: #0092CA;
    padding: 6px 10px;
    transition: 0.3s;
}
/*btn 2 style and hover*/
.btncontainer {
    text-align: center;
    padding-bottom: 0;
    padding-top: 30px;
}

.btn-art {
    border: 3px solid;
    background: none;
    border-color: #0092CA;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.btn-art a {
    color: #EEEEEE;
    text-decoration: none;
    font-weight: bold;
}
/*btn hover*/
.btn-art:hover {
    background-color: #0092CA;
    padding: 6px 10px;
    transition: 0.3s;
}

.mediainfo, .location {
    text-align: center;
}

.mediainfo {
    margin-top: 16px;
}


/*3rd section*/
.darkgrey-artboard {
    text-align: center;
}

.collage {
    height: 500px;
}

span {
    color: var(--blue);
}

/*4th section*/

.reviews {
    display: flex;
    justify-content: space-evenly;
}

.person {
    display: flex;
    flex-direction: column;
}

.person h5 {
    text-align: center;
    margin-bottom: 0;
}

.person p {
    width: 38ch;
    font-size: 15px;
}

.score {
    display: flex;
    align-self: center;
}

.button-reviews {
    margin-left: 47%;
}

.copyright {
    font-size: 12px;
    text-align: right;
    margin-right: 50px;
}

/*footer*/
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0092CA;
    padding-top: 16px;
}

.geninfo {
    text-align: center;
}

.geninfo p {
    margin: 0;
}

.workhours {
    display: flex;
    gap: 30px;
}

.mediainfo {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    font-family: 'Hind', sans-serif;
    text-align: left;
}

.mediainfo a {
    text-decoration: none;
    color: #EEEEEE;
    font-weight: 500;
    margin: 0;
    transition: transform .3s;
}

.mediainfo a:hover {
    transform: scale(1.1);
}

.mediaicon {
    width: 16px;
    padding-right: 10px;
}

@media only screen and (min-width: 1400px) {
    /*Story section*/
   .darkgrey {
       background-color: var(--dark-grey);
   }
   
   .storysec {
       display: flex;
       justify-content: space-evenly;
       align-items: center;
   }
   
   /*text sec*/

   h1 {
       font-size: 56px;
   }   

   .text h2 {
       text-align: center;
       text-transform: uppercase;
       line-height: 1;
       margin: 0;
       width: 450px;
   }

   .blue {
       color: var(--blue);
       padding-left: 190px;
   }

   .text p {
       width: 650px;
       text-align: left;
       margin-top: 30px;
   }

   /*sec3 see art*/
   .darkgrey2 {
       background-color: var(--dark-grey);
       text-align: center;
       padding-top: 50px;
   }

   .navbar {
        margin-right: 100px;
        align-self: flex-start;
    }

    .blue {
        padding-left: 0px;
    }

    .darkgrey2 h2 {
       margin-top: 0;
   }

   .collage {
       height: 500px;
   }
}

@media only screen and (max-width: 1050px) {
    /*text size*/
        .header h1 {
            font-size: 32px;
            font-family: 'Montserrat', sans-serif;
        }
    
        h2 {
            font-size: 28px;
            font-family: 'Montserrat', sans-serif;
        }
    
        p {
            font-size: 16px;
            font-family: 'Hind', sans-serif;
        }
    
        footer p {
            font-size: 14px;
            font-weight: 500;
            text-align: left;
        }
    
        footer {
            font-size: 14px;
        }
        /*text size*/
        .darkgrey {
            background-color: var(--dark-grey);
        }
        
        .storysec {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        
        .storysec img {
            margin: 50px 0 50px 0;
            width: 450px;
            height: auto;
        }
        
        /*text sec*/
        .lightgrey h2 span {
            padding: 0;
        }
        
        h1{
            font-size: 30px;
        }
        
        .text h2 {
            text-align: center;
            text-transform: uppercase;
            line-height: 1;
            margin-top: 50px;
            width: 450px;
        }
        
        .blue {
            color: var(--blue);
            padding-left: 190px;
        }
        
        .text p {
            width: 450px;
            text-align: left;
            margin-top: 30px;
            margin-bottom: 50px;
        }
        
        /*sec3 see art*/
        .darkgrey2 {
            background-color: var(--dark-grey);
            text-align: center;
            padding-top: 50px;
        }
        
        .darkgrey2 h2 {
            margin-top: 0;
        }
        
        .collage {
            height: 500px;
        }
}

@media only screen and (max-width: 920px) {

    header {
        height: 300px;
    }

    .navbar li {
        display: inline-block;
        padding: 0 15px;
        position: relative;
    }

    .darkgrey {
        background-color: var(--dark-grey);
    }

    .btn {
        margin-bottom: 30px;
    }

    .storysec {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .reviews {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .person p {
        width: 38ch;
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
    }    

    .text p {
        width: 550px;
        margin-bottom: 0;
    }

    .text h2 {
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        margin-top: 50px;
        width: 450px;
    }
    
    .blue {
        color: var(--blue);
        padding-left: 190px;
    }
    
    h1 {
        font-size: 28px;
        font-family: 'Montserrat', sans-serif;
    }

    h2 {
        font-size: 26px;
        font-family: 'Montserrat', sans-serif;
    }

    p {
        font-size: 16px;
        font-family: 'Hind', sans-serif;
    }

    footer p {
        font-size: 14px;
        font-weight: 500;
        text-align: left;
    }

    footer {
        font-size: 14px;
    }
    .lightgrey h2 span {
        padding: 0;
    }
    /*sec3 see art*/
    .darkgrey2 {
        background-color: var(--dark-grey);
        text-align: center;
        padding-top: 50px;
    }
    
    .darkgrey2 h2 {
        margin-top: 0;
    }
    
    .collage {
        height: 350px;
    }

}

@media only screen and (max-width: 750px) {
    /*text*/
    h1 {
        height: 50px;
        font-size: 24px;
        margin: 10px auto 10px auto;
        font-family: 'Montserrat', sans-serif;
    }

    h2 {
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
    }

    p {
        font-size: 16px;
        font-family: 'Hind', sans-serif;
    }


    header {
        height: 300px;
    }

    .navbar {
        display: none;
    }

    .burger {
        display: block;
    }

    .line {
        width: 25px;
        height: 3px;
    }

    footer p {
        font-size: 14px;
        font-weight: 500;
        text-align: left;
    }

    footer {
        font-size: 14px;
    }

    .storysec {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column-reverse;
    }
    .h4-underline {
        margin-right: auto;
        margin-left: auto;
        width: 200px;
        border-bottom: 5px solid #0092CA;
        border-radius: 3px;
    }
    .benefits {
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .lightgrey h2 span {
        padding: 0;
    }
    .reviews {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .contact {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 10px;
        margin: 0;
    }

    .workhours {
        display: flex;
        justify-content: space-around;
        gap: 0;
    }
    .mediainfo a {
        margin-left: auto;
        margin-right: auto;
    }
    .workhours p {
        margin-left: auto;
        margin-right: auto;
    }
    .person p {
        width: 38ch;
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .collage {
        width: 400px;
        height: auto;
    }
}

@media only screen and (max-width: 550px) {


    h1 {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        display: inline-block;
        margin: auto;
        margin-top: 0;
        text-align: center;
    }
    
    h2 {
        font-size: 32px;
        font-family: 'Montserrat', sans-serif;
        margin: 30px auto 20px auto;
    }
    
    p {
        font-size: 16px;
        font-family: 'Hind', sans-serif;
    }
    
    footer p {
        font-size: 16px;
        font-weight: 500;
        text-align: left;
    }

    header {
     height: 250px;
    }

    .navbar {
        margin-left: auto;
        margin-right: auto;
        align-self: flex-start;
        order: 3;
    }
    
    .navbar li {
        display: inline-block;
        padding: 0 10px;
        position: relative;
    }
    
    .navbar a {
        color: #EEEEEE;
        position: relative;
        text-decoration: none;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }

    .navbar a {
        font-size: 15px;
    }

    /*storysection*/
    .darkgrey {
        background-color: var(--dark-grey);
    }
    
    .storysec {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column-reverse;
    }
    .btn {
        margin-bottom: 30px;
    }
    .reviews {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .h2, .h3 {
        text-align: center;
        margin-top: 0;
    }
    
    .h3 {
        margin-top: 5px;
        margin-bottom: 30px;
    }
    
    .h3-light {
        font-weight: 200;
    }
    
    .h3-blue {
        color: #0092CA;
        font-weight: 200;
    }
    
    .icon {
        width: 20px;
        padding-right: 10px;
    }

    time .workhours {
        display: flex;
        justify-content: space-around;
    }

    .h4-underline {
        margin-right: auto;
        margin-left: auto;
        width: 200px;
        border-bottom: 5px solid #0092CA;
        border-radius: 3px;
    }

    .lightgrey h2 span {
        padding: 0;
    }
    .benefits {
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    .contact {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 10px;
        margin: 0;
    }

    /*text sec*/
    .text h2 {
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        margin-top: 30px;
        width: 200px;
    }

    .blue {
        color: var(--blue);
        padding-left:0;
    }

    .text p {
        width: 380px;
        text-align: left;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .mediainfo a {
        margin-left: auto;
        margin-right: auto;
    }
    .workhours p {
        margin-left: auto;
        margin-right: auto;
    }
    .person p {
        width: 38ch;
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    

    .collage {
        width: 350px;
        height: auto;
    }

    footer {
        flex-direction: column;
    }
}

@media only screen and (max-width: 390px) {
    header {
        height: 200px;
       }
   
       .navbar {
           margin-left: auto;
           margin-right: auto;
           align-self: flex-start;
           order: 3;
       }
       
       .navbar li {
           display: inline-block;
           padding: 0 5px;
           position: relative;
       }
       
       .navbar a {
           color: #EEEEEE;
           position: relative;
           text-decoration: none;
           font-weight: 600;
           font-family: 'Montserrat', sans-serif;
       }
   
       .navbar a {
           font-size: 15px;
       }
}