@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap'); /*font-family: 'Hind', sans-serif;*/

:root {
    --dark-grey: #222831;
    --light-grey: #393E46;
    --white: #EEEEEE;
    --blue: #0092CA;
}

body {
    margin: 0;
    background-color: #393E46;
    color: #EEEEEE;
}

h1 {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

h5 {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 20px;
    font-family: 'Hind', sans-serif;
}

footer p {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

/*navigation*/
header {
    display: flex;
    justify-content: space-between;
    height: 500px;
    margin-bottom: 5px;
}

.logo {
    height: 100px;
    margin-left: 50px;
    align-self: flex-start;
}

.navbar {
    margin-right: 50px;
    align-self: flex-start;
}

.navbar li {
    display: inline-block;
    padding: 0 40px;
}

.navbar a {
    color: #EEEEEE;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

/*hover effects*/
.navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #EEEEEE;
    left: 0;
    bottom: -5px;
    cursor: pointer;
    }
    
    a::after {
        transform: scale(0, 1);
        transition: transform 0.3s ease;
    }
    
    a:hover::after {
        transform: scale(1.1, 1);
    }

/*main 1st section*/
.h2, .h3 {
    text-align: center;
    margin-top: 0;
}

h2 {
    margin-bottom: 10px;
}

.h3 {
    margin-top: 5px;
    margin-bottom: 30px;
}

.h3-light {
    font-weight: 200;
}

.h3-blue {
    color: #0092CA;
    font-weight: 200;
}

.icon {
    width: 20px;
    padding-right: 10px;
}

.benefits {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.text, .h4 {
    margin: 0;
}

.darkgrey {
    background-color: #222831;
    padding: 50px 0;
}

/*main 2nd section*/
.lightgrey {
    padding: 50px 0;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    margin-left: 40px;
}

.h4 {
    text-align: center;
}

.h4-underline {
    border-bottom: 5px solid #0092CA;
    border-radius: 3px;
}

.contact p {
    color: #EEEEEE;
    font-size: 16px;
}

.btn {
    border: 3px solid;
    background: none;
    border-color: #0092CA;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.btn a {
    color: #EEEEEE;
    text-decoration: none;
    font-weight: bold;
}
/*btn hover*/
.btn:hover {
    background-color: #0092CA;
    padding: 6px 10px;
    transition: 0.3s;
}
/*btn 2 style and hover*/
.btn2container {
    text-align: center;
}

.btn2 {
    border: 3px solid;
    background: none;
    border-color: #0092CA;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.btn2 a {
    color: #EEEEEE;
    text-decoration: none;
    font-weight: bold;
}

.btn2:hover {
    background-color: #0092CA;
    padding: 6px 10px;
    transition: 0.3s;
}

.mediainfo, .location {
    text-align: center;
}

.mediainfo {
    margin-top: 16px;
}


/*3rd section*/
.darkgrey-artboard {
    height: 600px;
}

/*4th section*/

.reviews {
    display: flex;
    justify-content: space-evenly;
}

.person {
    display: flex;
    flex-direction: column;
}

.person h5 {
    text-align: center;
    margin-bottom: 0;
}

.person p {
    width: 38ch;
    font-size: 15px;
}

.score {
    display: flex;
    align-self: center;
}

.button-reviews {
    margin-left: 47%;
}

/*footer*/
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0092CA;
    margin-top: 70px;
    padding-top: 16px;
}

.geninfo {
    text-align: center;
}

.geninfo p {
    margin: 0;
}

.workhours {
    display: flex;
    gap: 30px;
}

.mediainfo {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    font-family: 'Hind', sans-serif;
    text-align: left;
}

.mediainfo a {
    text-decoration: none;
    color: #EEEEEE;
    font-weight: 500;
    margin: 0;
}

.mediaicon {
    width: 16px;
    padding-right: 10px;
}